@{
  ViewData["Title"] = "Tenant Account Administration";
}

<h2>@ViewData["Title"].</h2>

<ul>
  <li><a asp-controller="Admin" asp-action="ManagePayment">Payment Information</a></li>
  <li><a asp-controller="Admin" asp-action="InviteUsers">Add Users</a></li>
  <li><a asp-controller="Admin" asp-action="ImportJson">Import JSON Data</a></li>
</ul>