@{
    ViewData["Title"] = "Team Members";
}
<h2>@ViewData["Title"]</h2>

<a asp-controller="Admin" asp-action="InviteMembers" class="btn btn-primary">Invite New Members</a>

<section>
  TODO: display members here
</section>