@model ActivateAccountViewModel
@{
    ViewData["Title"] = "Activate your account";
}

<h2>@ViewData["Title"].</h2>
<div>
  <p>
    Welcome to Solution Forms! Please confirm your password to activate your account.
  </p>

  <form asp-controller="Account" asp-action="ActivateAccount" method="post" role="form" class="form-horizontal">
    <div class="form-group">
      <label asp-for="Password" class="col-md-2 control-label"></label>
      <div class="col-md-10">
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
      </div>
    </div>
    <input type="hidden" asp-for="VerificationCode"/>
    <input type="submit" class="btn btn-primary" value="Activate my account"/>
  </form>

</div>
