@{
    ViewData["Title"] = "We've sent your password reset link!";
}

<h2>@ViewData["Title"]</h2>
<p>
    Please check your email to reset your password. If your email was found, the password reset link is on it's way.
</p>
