
@model RegisterTenantViewModel

@{
  ViewBag.Title = "Create an Organization";
  Layout = "_Layout";
}

<div class="row">
  <div class="col-md-8">
    <section>
      <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
      <form method="POST" class="form-horizontal" asp-controller="Account" asp-action="RegisterTenant">
        <div class="form-group">
          <label asp-for="OrganizationName" class="col-md-2 control-label"></label>
          <div class="col-md-10">
            <input asp-for="OrganizationName" class="form-control" />
            <span asp-validation-for="OrganizationName" class="text-danger"></span>
          </div>
        </div>

        <div class="form-group">
          <label asp-for="OrganizationDomain" class="col-md-2 control-label"></label>
          <div class="col-md-10">
            <input asp-for="OrganizationDomain" class="form-control" />.solutionforms.com
            <span asp-validation-for="OrganizationDomain" class="text-danger"></span>
          </div>
        </div>

        <div class="form-group">
          <label asp-for="Email" class="col-md-2 control-label"></label>
          <div class="col-md-10">
            <input asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger"></span>
          </div>
        </div>

        <div class="form-group">
          <label asp-for="UserName" class="col-md-2 control-label"></label>
          <div class="col-md-10">
            <input asp-for="UserName" class="form-control"/>
            <span asp-uihint-for="UserName"></span>
            <span asp-validation-for="UserName" class="text-danger"></span>
          </div>
        </div>

        <div class="form-group">
          <label asp-for="Password" class="col-md-2 control-label"></label>
          <div class="col-md-10">
            <input asp-for="Password" class="form-control"/>
            <span asp-validation-for="Password" class="text-danger"></span>
          </div>
        </div>

        <div class="form-group">
          <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
          <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Create my Organization</button>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>
