<div class="form-group">
  <div class="col-sm-2 control-label">Data Source</div>
  <div class="col-sm-10">
    <select class="form-control" data-bind="value: dataSourceName, options: dataSourceOptions, optionsText: 'displayName', optionsValue: 'value', optionsContext: ' '"></select>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-2 control-label">Label Property</div>
  <div class="col-sm-10">
    <input data-bind="textInput: labelProperty" class="form-control" />
  </div>
</div>

<div class="form-group">
  <div class="col-sm-2 control-label">Value Property</div>
  <div class="col-sm-10">
    <input data-bind="textInput: valueProperty" class="form-control"/>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-2 control-label">Delay (MS)</div>
  <div class="col-sm-10">
    <input data-bind="textInput: delayInMS" class="form-control" />
  </div>
</div>