<table class="table table-striped table-bordered col-sm-12">
    <thead>
        <tr>
            <!-- ko foreach: headings --><th data-bind="text: displayName"></th><!-- /ko -->
            <th></th>
        </tr>
        <!--<div data-bind="if: helpText" class="col-sm-10 col-sm-offset-2"><span class="help-block" data-bind="text: helpText"></span></div>-->        
    </thead>
    <tbody data-bind="foreach: rows">
        <tr>
            <!-- ko foreach: members -->
            <td>
                <div class="form-group" data-bind="validationElement: validationElement()">
                    <div class="col-sm-10" data-bind="component: { name: inputType, params: { input: $data, context: context } }"></div>
                    <div class="sr-only" data-bind="validationMessage: validationElement()"></div>
                </div>
            </td>
            <!-- /ko -->
            <td><i class="fa fa-trash-o clickable" data-bind="command: $parent.removeItem"></i></td>
        </tr>
    </tbody>
</table>

<button class="btn btn-default" data-bind="command: addNewItem">Add New</button>