<appointments-day-view params="options: appointmentsDayViewOptions"></appointments-day-view>

<button class="btn btn-default" data-bind="command: newEvent">
  <span class="glyphicon glyphicon-calendar"></span> Add Appointment
</button>

<section data-bind="modal: showModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        Appointment Details
        <div class="pull-right"><a href="#" data-bind="click: hideModal"><span class="fa fa-close"></span></a></div>
      </div>
      <div class="modal-body" data-bind="component: { name: 'appointment-editor', params: { input: appointmentEditorConfig } }"></div>
    </div>
  </div>
</section>
