@model SolutionForms.Client.Mvc.ViewModels.DataForms.DataFormsIndexViewModel

<div class="container">
  <h2>@Model.OrganizationName</h2>
  <h3>My Apps</h3>
  <div class="bg-info">
    <ul>
      <li>@Html.ActionLink("Create new form", "New", "Dataforms")</li>
    </ul>
  </div>

  <ul>
    @foreach (var item in Model.Forms)
    {
        <li>
          <a href="@item.Url">@item.Title</a>
        </li>
    }
  </ul>
</div>