@using SolutionForms.Client.Mvc.Helpers
<div class="panel" style="margin-top: 10px;">
  <!-- ko if: activeComponent -->
  <section data-bind="component: activeComponent"></section>
  <!-- /ko -->
</div>

@section Scripts
{
    <script src="~/js/build/dataform-live.bundle.js?@ScriptHelpers.VersionQueryStringParam"></script>
}