<div class="form-inline">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-6">
            <div class="col-sm-6">Display Text</div>
            <div class="col-sm-6">Selected Value</div>
        </div>
    </div>
    
    <div data-bind="sortable: options">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-10 form-inline">
                <div class="col-sm-6">
                    <input type="checkbox" disabled />
                    <input type="text" data-bind="value: optionLabel, hasFocus: isSelected" class="form-control" onfocus="this.value = this.value;" onclick="this.select(); return false;" />
                </div>
                <div class="col-sm-5">
                    <input type="text" data-bind="value: optionValue" class="form-control" onfocus="this.value = this.value;" onclick="this.select(); return false;" />
                    <i class="fa fa-close clickable" data-bind="command: $parent.removeOptionCommand, visible: $parent.removeOptionCommand.canExecute"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-2 col-sm-10 form-inline">
            <div class="col-sm-6">
                <input type="checkbox" data-bind="command: addNewOptionCommand" style="cursor: pointer" tabindex="-1" disabled="disabled" />
                <input type="text" data-bind="value: optionToAdd, valueUpdate: 'input', command: addNewOptionCommand" class="form-control" style="cursor: pointer" placeholder="Click to add option" />
            </div>
        </div>
    </div>
</div>