<style>
  #employee-ticketing .nav-pills li {
    padding: 15px 10px;
    border: #ebeeef solid 1px;
    text-align: center;
  }
</style>

<section id="employee-ticketing" class="col-sm-8 col-sm-offset-2 col-md-6  col-md-offest-3 col-lg-6 col-lg-offset-3">

  <div data-bind="component: { name: 'form-field', params: employeeLookupField }"></div>

  <h3>Employee Tickets:</h3>
  <!--<div data-bind="visible: !viewState.displayTicketAssignmentUI()">
    <button class="btn btn-primary" data-bind="command: commands.toggleTicketAssignmentUIState">Assign Tickets</button>
  </div>-->

  <div data-bind="">
    <div data-bind="component: { name: 'form-field', params: ticketScannerConfig }, visible: viewState.displayTicketAssignmentUI"></div>
  </div>

  <ul class="nav nav-pills" data-bind="foreach: employeeTickets">
    <li data-bind="css: { 'bg-warning' : !isSaved, 'active': isSaved }">
      <h4>{{ id }}</h4>
      <div><strong>{{ fieldCode }}</strong></div>
      <div><em>{{ productionDate | formattedDate }}</em></div>      
      <button data-bind="command: removeTicketCommand" class="btn btn-default btn-xs"><i class="fa fa-times-circle-o"></i> Remove</button>
    </li>
  </ul>
  
  <button class="btn btn-primary" data-bind="command: commands.saveTicketAssignmentCommand"><i class="fa fa-save"></i> Save Tickets</button>

</section>