<table class="table table-striped">
  <thead>
  <tr>
    <th>Client</th>
    <th>Total Points</th>
    <th>Points Today</th>
    <th>Last Activity</th>
    <th>% of Goals</th>
  </tr>
  </thead>
  <tbody data-bind="foreach: clientSummaries">
  <tr>
    <td>{{ ClientName }}</td>
    <td>{{ TotalPointsCompleted }}</td>
    <td>{{ PointsCompletedToday }}</td>
    <td>{{ LastActivityDate | relativeDate: 'YYYY-MM-DDTHH:mm:ss.SSS' }}</td>
    <td>{{ percentCompletedForWeek | percent }}</td>
  </tr>
  </tbody>
</table>